@charset "utf-8";
.chitiet_box{
	width :554px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding: 10px 10px 10px 15px;
	border-color:#06F;
	border:1px solid #CCC ;
	border-radius:8px;
	text-align:center;
}
.product_img_big{
	width:170px;
	padding:5px 0 5px 10px;
	float:left;
	border:1px solid #999;
	border-radius:8px;
}
.detail_big_box{
	width:354px;
	float:left;
	padding-left:15px;
	text-align:left;
}
.product_tittle_big{
	color:#900;
	padding:5px 0;
	font-weight:bold;
	font-size:14px;
}
.specifications{
	font-size:13px;
	font-weight:bold;
	line-height:18px;
}
span.blue{
color:#373737;	
}
a.dathang{
	width:76px;
	height:27px;
	display:block;
	float:left;
	padding-left:25px;
	text-decoration:none;
	line-height:27px;
	color:#000;
	background:url(../Photos/cart.png) no-repeat left;
}
