@charset "utf-8";
/* CSS Document */
.gioithieu_box{
	width :554px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding: 10px 10px 10px 15px;
	background-color:#EAEAEA;
	border:1px;
	border-radius:8px;
	font-size:15px;
		
}

