@charset "utf-8";
/* CSS Document */
.lienhe_box{
	width :554px;
	height:auto;
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding: 10px 10px 10px 15px;
	background-color:#EAEAEA;
	border:1px;
	border-radius:8px;
}
.lienhe_form{
	width:355px;
	float:left;
	padding-left:30px;
}
.form_row{
	width:355px;
	color:#a53d17;
	padding:10px;
	clear:both;
	margin-left:40px;
}
label.lienhe{
	width:75px;
	float:left;
	font-size:13px;
	text-align:right;
	color:#333;
	padding:4px 5px 0 0 ;
}
input.lienhe_input{
	width:250px;
	height:18px;
	color:#2A3F55;
	border:1px #dfdfdf solid;
	float:left;
}
textarea.lienhe_textarea{
	width:250px;
	height:92px;
	font-size:13px;
	color:#2A3F55;
	border:1px #dfdfdf solid;
	float:left;
	min-width:250px;
	max-width:250px;
}
input.lienhe_button{
	width:50px;
	float:left;
	font-size:14px;
	margin-left:250px;
}
