@charset "utf-8";
*{
	margin:0px;
	padding: 0px;
}
.clr{
	clear:both;
}

body{
	margin:0px auto;
	width:1000px;
	font-size:12px;
	background:#0080FF;
}
.top{
	width:1000px;
	height:38px;
	background:#333;
}
.languages{
	float:right;
	width:150px;
	padding-top:10px;
}
.languages div{
	float:left;
	color:#CCC;
}
.languages a{
    padding-left: 5px;
}
.search{
	width:370px;
	height:32px;
	float:right;
	margin-right:30px;
	padding-top:4px;

}
.search .search_text{
	padding: 8px 0 0 15px;
	float:left;
	width:110px;
	color:#999999;
	color:#CCC;
	text-decoration:none;
	
	
}
.search .search_text a{
	color:#CCC;
	text-decoration:none;
	margin-left:25px;
	
}
.search .search_input{
	width:182px;
	height:18px;
	border: 1px ;
	float:left;
	margin-top:5px;
}
.search .search_btn{
	float:left;
	margin-top:4px;
}
.header{
	margin:0px auto;
	width:1000px;
	height:190px;	
}
#logo{
	width:320px;
	height:190px;
	float:left;	
}
.banner{
	height:190px;
	width:680px;
	float:left;
}
#menu_tab{
	width:1000px;
	height:36px;
	background-color:#CCC;
	border:1px;
	border-radius:8px;
}

ul.menu {	
	width:1000px;
	margin:0px auto;
	list-style-type:none;
}
ul.menu li{
	font-size:14px;
	font-weight:bold;
    line-height:40px;
	
}
ul.menu li.divider{
	width:1px;
	height:40px;
	float:left;
	background-color:#EEE ;
}
ul.menu li a{
	float:left;
	padding:0 8px 0 22px;
	margin:0 37px;
	height:35px;
	text-decoration:none;
	color:#03F;
}
#trangchu{
	background:url(../Photos/Home.ico) no-repeat left ;
}
#trangchu:hover{
	background:url(../Photos/Home.ico) no-repeat left ;
	color:#D41F55;
}
#baohanh{
	background:url(../Photos/SanPham.png) no-repeat left;
}
#baohanh:hover{
	background:url(../Photos/SanPham.png) no-repeat left;
	color:#D41F55;
}
#lienhe{
	background:url(../Photos/LienHe.ico) no-repeat left;
}
#lienhe:hover{
	background:url(../Photos/LienHe.ico) no-repeat left;
	color:#D41F55;
}
#gioithieu{
	background:url(../Photos/gioithieu.png) no-repeat left;
}
#gioithieu:hover{
	background:url(../Photos/gioithieu.png) no-repeat left;
	color:#D41F55;
}
#dangnhap{
	background:url(../Photos/DangNhap.ico) no-repeat left;
}
#dangnhap:hover{
	background:url(../Photos/DangNhap.ico) no-repeat left;
	color:#D41F55;
}
#dangky{
	background:url(../Photos/DangKy.png) no-repeat left;
}
#dangky:hover{
	background:url(../Photos/DangKy.png) no-repeat left;
	color:#D41F55;	
}
.content{
	margin:0px auto;
	width:1000px;
	height:1000px;	
}
.left_content{
	width:200px;
	float:left;
}
.tittle_box{
	width:200px;
	height:30px;
	background-color:#06C;
	border:1px ;
	border-radius:4px;
	margin-top:5px;	
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#FFF;
	line-height:30px;
	
}
ul.content_box{
	width:200px;
	list-style:none;
}
ul.content_box li{	
	list-style:none;
	
}
ul.content_box li.laptop a{
	width:166x;
	height:25px;
	background:url(../Photos/laptop.png) no-repeat left #DDD;
	display:block;
	text-decoration:none;
	line-height:25px;
	background-position:5px 5px;
	padding-left:30px;
	font-size:14px;	
}

ul.content_box li.tablet a{
	width:166x;
	height:25px;
	background:url(../Photos/tablet.png) no-repeat left #EEE;
	display:block;
	text-decoration:none;
	line-height:25px;
	background-position:5px 5px;
	padding-left:30px;
	font-size:14px;

}
ul.content_box li.smartphone a{
	width:166x;
	height:25px;
	background:url(../Photos/smartphone.png) no-repeat left #DDD;
	display:block;
	text-decoration:none;
	line-height:25px;
	background-position:5px 5px;
	padding-left:30px;
	font-size:14px;

}
ul.content_box li.pk a{
	width:166x;
	height:25px;
	background:url(../Photos/headphone.png) no-repeat left #EEE;
	display:block;
	text-decoration:none;
	line-height:25px;
	background-position:5px 5px;
	padding-left:30px;
	font-size:14px;

}
ul.content_box li.laptop a:hover{
	background:url(../Photos/Laptop.png) no-repeat left #69F;
	background-position:5px 5px;
	padding-left:30px;
	color:#FFF;
}

ul.content_box li.tablet a:hover{
	background:url(../Photos/tablet.png) no-repeat left #69F;
	background-position:5px 5px;
	padding-left:30px;
	color:#FFF;
}
ul.content_box li.smartphone a:hover{
	background:url(../Photos/Smartphone.png) no-repeat left #69F ;
	background-position:5px 5px;
	padding-left:30px;
	color:#FFF;
}
ul.content_box li.pk a:hover{
	background:url(../Photos/headphone.png) no-repeat left #69F;
	background-position:5px 5px;
	padding-left:30px;
	color:#FFF;
}
.border_box{
	width:200px;
	height:auto;
	text-align:center;
	border:1px solid #69F ;
	border-radius:3px;
}
.product_tittle{
	padding-top:5px;
	font-weight:bold;
	font-size:14px;
	
}
.product_tittle a{
	text-decoration:none;
	color:#C00;
}
.product_tittle a:hover{
	color:#69F;
}
.product_price{
	padding:5px;
	font-size:13px;
	font-weight:bold;
}
span.giacu{
	text-decoration:line-through;
	color:#333;
}
span.giamoi{
	color:#900;
	font-size:14px;	
}
.banner2{
	width:200px;
	text-align:center;
	padding-top:5px;	
}
.banner3{
	width:200px;
	padding-top:0px;
}
.center_content{
	width:600px;
	float:left;
	margin-top:3px;	
}
.center_tittle_bar{
	width:570px;
	
	float:left;
	background-color:#CCF ; 
	border:1px ;
	border-radius:6px;
	font-weight:bold;
	padding-left:10px;
	margin-top:10px;
	margin-left:10px;
	line-height:24px;
	color:#036;
	font-size:15px;
}
.product_box{
	width:151px;
	float:left;
	padding:10px;
	border-radius:4px;
	border:1px solid #CCC; ;
	margin-left:20px;
	margin-top:10px;
	text-align:center;	
}
.right_content{
	width:200px;
	float:left;
	padding: 5px 0 0 0 ;	
	
}
.footer{
	width:1000px;
	height:140px;
	background-color:#F2F2F2;
	margin:0px auto;
	border:1px;
	border-radius:6px;
	margin-top:-20px;
}
.footer_content{
	padding-top:15px;
	text-align:center;
	color:#2A3F55;
	font-size:14px;
}

